@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: "#29339B",
  --color-secondary: "#FCFF6C",
  --color-accent: "#FF220C",
  --color-white: "#F5F8FA",
  --color-black: "#14171A",
}

